.sidebar {
    writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: left;
  font-size: xx-large;
  margin: 20%;
     width:10px;
           word-wrap: break-word;
           white-space:pre-wrap; 
}
